.t3-module {
  margin: 24px 0 60px;
}
.t3-module:last-child {
  margin-bottom: 24px;
}
.t3-module:first-child {
  margin-top: 0;
}
.t3-module .module-inner {
  position: relative;
}
.t3-module .custom {
  padding: 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1151px) {
  .t3-module:first-child {
    margin-top: 24px;
  }
}
.boxed1 {
  border: 1px solid #e8e8e8;
}
.boxed1 .module-title {
  padding: 30px;
  margin-bottom: 0;
  border: none;
}
.even-odd .nav > li {
  padding: 12px 30px;
}
.even-odd .nav > li:nth-child(2n-1) {
  background-color: #f8f8f8;
}
.module-title {
  color: #333333;
  font-weight: normal;
  margin: 0 0 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
}
.module-ct {
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  display: table;
  content: " ";
}
.module-ct:after {
  clear: both;
}
.module-ct p,
.custom p {
  margin-bottom: 8px;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
  border-top: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module-ct .caret,
.module-ct .custom .caret {
  display: none;
}
.module-ct .dropdown-menu,
.module-ct .custom .dropdown-menu {
  position: relative;
  float: none;
  top: auto;
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.module-ct .dropdown-menu > li > a,
.module-ct .custom .dropdown-menu > li > a {
  padding: 5px 5px 5px 35px;
}
.module-ct .dropdown-menu > li > a:before,
.module-ct .custom .dropdown-menu > li > a:before {
  top: 10px;
  left: 22px;
}
.module-ct .dropdown-menu .active a,
.module-ct .custom .dropdown-menu .active a {
  background-color: transparent;
  color: inherit;
}
.module-ct .dropdown-submenu > .dropdown-menu,
.module-ct .custom .dropdown-submenu > .dropdown-menu {
  left: 24px;
  border-bottom: 0;
}
.nspArt h4.nspHeader {
  margin: 0 0 6px 0;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
}
.nspArt p.nspInfo {
  font-size: 12px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #999999;
  font-family: "poppinsmedium", Helvetica, Arial, sans-serif;
}
.nspArt p.nspInfo a {
  color: #999999;
}
.nspArt p.nspText {
  margin-bottom: 20px;
  margin-top: 15px;
}
.nspArt a.readon {
  font-size: 14px;
  font-family: "poppinsmedium", Helvetica, Arial, sans-serif;
}
.nspArt a.modal {
  position: relative;
  left: 0;
  top: 0;
  width: auto;
  border: 0;
  overflow: hidden;
}
.nspPagination {
  text-align: center;
}
.nspPagination li {
  display: inline-block;
  margin: 0 !important;
}
.t3-sl .nspTopInterface {
  bottom: 0;
  left: 50%;
  width: 120px;
  margin-left: -60px;
}
.t3-sl .nspMain {
  padding-bottom: 48px;
}
.nspNext,
.nspPrev {
  border-radius: 50%;
}
.nspArt img.nspImage {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.nspArt:hover .nspImageWrapper {
  background: #222222;
}
.nspImageWrapper {
  overflow: hidden;
}
img.nspImage {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
img.nspImage:hover {
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.nspLinks ul li h4 {
  font-size: 15px;
  margin: 0;
}
.nspLinks ul {
  list-style-type: decimal;
}
.nspLinks ul li {
  background-color: transparent;
  border-top: 1px solid #e8e8e8;
  margin: 0 !important;
  padding: 24px 0;
  list-style-type: decimal;
}
.responsive .nspArt img.nspImage {
  width: 100% !important;
  height: auto !important;
}
.listed-post .nspArt {
  border-bottom: 1px solid #e8e8e8;
}
.listed-post .nspArt:last-child {
  border-color: transparent;
  padding-bottom: 5px !important;
}
.listed-post .nspArt:first-child {
  padding-top: 10px !important;
}
.listed-post h4.nspHeader {
  font-size: 15px;
}
.nspHighlight .gkArtContentWrap {
  padding-top: 16px;
}
.nspHighlight a.readon {
  margin-top: 20px;
}
@media (max-width: 479px), (min-width: 920px) and (max-width: 1152px) {
  .nspHighlight .nspArt .nspImageWrapper {
    width: 100%;
  }
}
.overlay .nspArt {
  position: relative;
}
.overlay .nspArt:hover .nspImageWrapper {
  background: #222222;
}
.overlay .nspArt p.nspInfo,
.overlay .nspArt p.nspInfo a,
.overlay h4.nspHeader a {
  color: #ffffff;
}
.overlay .gkArtContentWrap {
  position: absolute;
  padding-left: 40px;
  padding-right: 30px;
  bottom: 30px;
  left: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.overlay .gkArtContentWrap:hover,
.overlay .nspArt:hover .gkArtContentWrap {
  bottom: 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.overlay img.nspImage:hover,
.overlay .nspArt:hover img.nspImage {
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.nspHorizontal .nspMain {
  margin-left: -24px;
  margin-right: -24px;
}
.nspHorizontal .nspArt {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
@media (min-width: 601px) and (max-width: 1199px) {
  .nspArt .nspImageWrapper {
    float: none !important;
    margin: 0 0 36px !important;
  }
}
@media (max-width: 540px) {
  .nspArt .nspImageWrapper {
    float: none !important;
    margin: 0 0 24px !important;
  }
}
.gkTabsWrap.vertical ol,
.gkTabsWrap.horizontal ol {
  text-align: center;
}
.gkTabsWrap.vertical ol li,
.gkTabsWrap.horizontal ol li {
  padding: 0;
  font-size: 13px;
  font-family: "poppinsmedium", Helvetica, Arial, sans-serif;
  color: #bbbbbb;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.gkTabsWrap.vertical ol li:after,
.gkTabsWrap.horizontal ol li:after {
  content: "/";
  display: inline-block;
  margin: 0 15px;
}
.gkTabsWrap.vertical ol li:last-child:after,
.gkTabsWrap.horizontal ol li:last-child:after {
  display: none;
}
.gkTabsWrap.vertical ol li:hover,
.gkTabsWrap.horizontal ol li:hover {
  color: #222222;
}
.gkTabsWrap.vertical ol li:hover:after,
.gkTabsWrap.horizontal ol li:hover:after {
  color: #bbbbbb;
}
.gkTabsWrap.vertical ol li.active,
.gkTabsWrap.horizontal ol li.active {
  color: #333333;
  font-weight: normal;
}
.gkTabsWrap.vertical ol:after,
.gkTabsWrap.horizontal ol:after {
  content: "";
  display: block;
  background-color: #333333;
  height: 1px;
  width: 35px;
  margin: 18px auto 0 auto;
}
.t3-sidebar .gkTabsContainer {
  padding-bottom: 0;
}
.t3-sidebar .gkTabsWrap.vertical ol,
.t3-sidebar .gkTabsWrap.horizontal ol {
  position: relative;
  margin: 0;
  background-color: #f6f6f6;
  text-align: left;
}
.t3-sidebar .gkTabsWrap.vertical ol:after,
.t3-sidebar .gkTabsWrap.horizontal ol:after {
  display: none;
}
.t3-sidebar .gkTabsWrap.vertical ol li,
.t3-sidebar .gkTabsWrap.horizontal ol li {
  margin: 0 !important;
  padding: 12px 20px 12px;
  font-size: 14px;
  font-family: "poppinsmedium", Helvetica, Arial, sans-serif;
  color: #555555;
  text-transform: uppercase;
}
.t3-sidebar .gkTabsWrap.vertical ol li:hover,
.t3-sidebar .gkTabsWrap.horizontal ol li:hover {
  color: #555555;
}
.t3-sidebar .gkTabsWrap.vertical ol li:after,
.t3-sidebar .gkTabsWrap.horizontal ol li:after {
  display: none;
}
.t3-sidebar .gkTabsWrap.vertical ol li.active,
.t3-sidebar .gkTabsWrap.horizontal ol li.active {
  color: #222222;
  background-color: #e9e9e9;
}
.t3-sidebar .gkTabsWrap.vertical ol li.active:hover,
.t3-sidebar .gkTabsWrap.horizontal ol li.active:hover {
  color: #fa8569;
}
.theme-default .nivoSlider {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.nivoSlider .nivo-caption {
  background: none;
  color: #222;
  width: 55%;
  top: 15%;
  left: 36px;
  line-height: 1.2;
  font-family: "poppinsregular", Helvetica, Arial, sans-serif !important;
  opacity: 1.0;
  -moz-opacity: 1.0;
  filter: alpha(opacity=10);
}
.nivoSlider .nivo-caption span {
  display: block;
  margin-bottom: 6px;
  font-family: "poppinssemibold", Helvetica, Arial, sans-serif;
}
.nivoSlider .nivo-caption i {
  font-size: 16px;
}
@media (min-width: 1199px) {
  .nivoSlider .nivo-caption span {
    font-size: 52px;
  }
  .nivoSlider .nivo-caption {
    transform: translateY(-30%);
    top: 50%;
    width: 40%;
  }
}
@media (min-width: 799px) and (max-width: 1199px) {
  .nivoSlider .nivo-caption span {
    font-size: 38px;
  }
  .nivoSlider .nivo-caption {
    transform: translateY(-15%);
    top: 25%;
    width: 40%;
  }
}
.sp-tweet {
  text-align: center;
}
.sp-tweet a {
  color: #888888;
}
.sp-tweet a:hover {
  color: #fa8569;
}
.sp-tweet:before {
  font-family: FontAwesome;
  content: "\f099";
  font-size: 72px;
  color: #222222;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -23px;
  line-height: 1;
}
.sp-tweet .sp-tweet-item {
  border-bottom: 0;
  padding: 90px 0 24px 0;
  font-style: italic;
}
.sp-tweet .sp-tweet-item .date {
  float: none;
  font-size: 9px;
  font-style: normal;
  text-transform: uppercase;
  font-family: "poppinsmedium", Helvetica, Arial, sans-serif;
  letter-spacing: .5px;
}
.sp-tweet .sp-tweet-item .date a {
  color: #222222;
}
.sp-tweet .sp-tweet-item .date a:hover {
  color: #fa8569;
}
.t3-footer ul.address {
  border-top: 0 !important;
}
.t3-footer ul.address li {
  position: relative;
  border-right: 1px solid #3f3f3f;
}
@media (max-width: 600px) {
  .t3-footer ul.address li {
    display: block;
    border-right: none;
  }
}
.t3-footer ul.address li:before {
  font-family: FontAwesome;
  font-size: 15px;
  color: #999999;
  padding-right: 8px;
}
.t3-footer ul.address li:last-child {
  border-right: none;
}
.t3-footer ul.address li a {
  background: none !important;
  border-bottom: 0 !important;
}
.t3-footer ul.address li.home:before {
  content: "\f015";
}
.t3-footer ul.address li.email:before {
  content: "\f0e0";
}
.t3-footer ul.address li.phone:before {
  content: "\f095";
}
.t3-footer ul.address li.mobile:before {
  content: "\f10b";
}
#toTop {
  background-color: #bbbbbb;
  z-index: 10;
  text-align: center;
  padding: 0;
  position: fixed;
  line-height: 48px;
  bottom: 36px;
  right: 24px;
  cursor: pointer;
  display: none;
  color: #ffffff;
  font-size: 32px;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
#toTop:hover {
  background-color: #e0e0e0;
}
.bt-googlemaps {
  margin-top: 1px;
}
.module-ct > ol.breadcrumb {
  padding: 10px 20px;
  margin-left: 0;
}
ul.mostread {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.mostread > li > a {
  color: #888888;
  padding: 10px 0 10px 0;
  display: block;
}
ul.mostread > li > a:hover {
  color: #222222;
}
.dropdown-login a.dropdown-toggle {
  color: #222222;
}
.dropdown-login a.dropdown-toggle:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.dropdown-login .dropdown-menu {
  margin-top: 42px;
  min-width: 300px;
  right: -34px;
  left: auto;
  border: 0;
  padding: 42px 36px 36px;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: visibility 0.4s ease, opacity 0.4s ease;
  -o-transition: visibility 0.4s ease, opacity 0.4s ease;
  transition: visibility 0.4s ease, opacity 0.4s ease;
  filter: alpha(opacity=0);
  opacity: 0;
  display: block;
  visibility: hidden;
  z-index: -1;
}
@media (max-width: 479px) {
  .dropdown-login .dropdown-menu {
    margin-top: 24px;
  }
}
.dropdown-login .dropdown-menu a {
  color: #888888;
}
.dropdown-login .open .dropdown-menu {
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 150;
  visibility: visible;
}
.dropdown-login .userdata {
  font-size: 14px;
}
.dropdown-login .input-group-addon {
  background-color: #333333;
  color: #ffffff;
}
.dropdown-login .input.form-control {
  background-color: #454545;
}
.dropdown-login .input.form-control:focus {
  border-color: transparent;
  background-color: #404040;
}
.dropdown-login .nav > li > a {
  padding-bottom: 5px;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 24px;
  padding-left: 15px;
  text-transform: none;
  margin-bottom: 0;
}
#login-form ul.unstyled li {
  padding: 0;
}
#login-form label {
  color: #888888;
}
#login-form .checkbox {
  margin-top: -10px;
}
#login-form .checkbox input {
  margin-top: 8px;
}
#login-form .login-greeting {
  font-size: 18px;
  margin-bottom: 24px;
  color: #bbbbbb;
}
.dropdown-menu .t3-module {
  margin: 0;
}
.banner-item {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.banner-item .banner-title {
  width: 100%;
  position: absolute;
  pointer-events: none;
  bottom: 25px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.banner-item .bigger {
  top: 20%;
}
.banner-item .bigger h3 {
  font-size: 46px;
}
.banner-item .bigger a {
  width: 140px;
  margin-top: 20px;
  display: inline-block;
}
.banner-item h3 {
  margin-top: 17.5%;
  color: #ffffff;
  margin-bottom: 0;
  padding: 0;
}
.banner-item p {
  letter-spacing: 2.5px;
}
.banner-item a {
  display: block;
}
.banner-item.ontop .banner-title {
  top: 10%;
}
.banner-item.ontop .banner-title h3 {
  font-size: 32px;
}
.banner-item.onbottom {
  max-width: 48.5%;
  margin-top: 24px;
}
.banner-item.onbottom.onleft {
  float: left;
  text-align: left;
}
.banner-item.onbottom.onleft .banner-title {
  left: 30px;
}
.banner-item.onbottom.onright {
  float: right;
  text-align: right;
}
.banner-item.onbottom.onright .banner-title {
  right: 30px;
}
.banner-item img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.banner-item img:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
@media (min-width: 920px) and (max-width: 1151px) {
  .banner-item .bigger h3 {
    font-size: 36px;
  }
  .banner-item.onbottom {
    margin-top: 12px;
  }
  .banner-item.ontop .banner-title h3 {
    font-size: 26px;
  }
  .banner-item p {
    font-size: 12px;
  }
}
@media (min-width: 920px) and (max-width: 1151px) {
  .banner-item.first,
  .banner-item.second {
    max-width: 48%;
    float: left;
    margin-top: -15px;
  }
  .banner-item.second {
    margin-left: 4%;
  }
}
.bannerfooter {
  border-top: 1px solid #d0d0d0;
  font-size: 14px;
  padding-top: 12px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid #d0d0d0;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #e8e8e8;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #bbbbbb;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  color: #555555;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tagspopular ul > li > a {
  background: #bbbbbb;
  border-radius: 3px;
  color: #555555;
  display: block;
  padding: 2px 5px;
}
.tagspopular ul > li > a:hover,
.tagspopular ul > li > a:focus,
.tagspopular ul > li > a:active {
  background: #fa8569;
  color: #ffffff;
  text-decoration: none;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #bbbbbb;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #555555;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #fa8569;
}
.acymailing_module_form p {
  display: inline-block;
  margin-bottom: 0;
}
.acymailing_module_form .inputbox {
  background-color: #ffffff;
  padding: 0 24px;
  line-height: 60px;
  height: 60px;
  font-size: 14px;
}
@media (min-width: 1152px) {
  .acymailing_module_form .inputbox {
    min-width: 340px;
  }
}
.acysubbuttons .btn-primary {
  background-color: #222222;
  margin-top: -5px;
  padding: 0 42px;
  line-height: 60px;
  height: 60px;
}
.acymailing_module .acymailing_introtext {
  margin: 0 auto 36px !important;
  max-width: 800px;
}
.gallery-flickr ul {
  padding: 0;
}
.banner-box {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.banner-box:hover {
  background-color: #222222;
}
.banner-box h4 {
  margin-bottom: 6px;
  font-size: 32px;
}
.banner-box .custom p {
  margin-bottom: 0;
}
.banner-box img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.banner-box img:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.banner-desc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 36px;
  right: 36px;
  font-size: 14px;
  text-align: left;
  width: 40%;
}
.banner-desc h3 {
  font-size: 18px;
  text-transform: uppercase;
}
.banner-desc .link {
  color: #888888;
}
.banner-desc .link:after {
  content: "\f105";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 12px;
}
.orange {
  color: #ff6a18;
}
.lime {
  color: #a1b507;
}
.yellow {
  color: #d9a901;
}
@media (min-width: 1152px) {
  .banner-box.big h4 {
    font-size: 46px;
  }
}
.banner-box.below {
  margin-top: 32px;
}
.primary-color {
  color: #fa8569;
}
ul.client-list {
  list-style: none;
  text-align: center;
}
ul.client-list li {
  display: inline-block;
  padding: 0 36px;
}
#fancybox-content {
  border: 0 !important;
}
#fancybox-wrap {
  padding: 30px !important;
}
.rounded-icon {
  line-height: 1.4;
  text-align: center;
}
.rounded-icon i {
  font-size: 28px;
  background-color: #fa8569;
  height: 54px;
  width: 54px;
  line-height: 54px;
  margin-bottom: 36px;
  border-radius: 50%;
}
.rounded-icon .fa:before {
  display: block;
  width: 53px;
}